.header.clearfix
  nav
    ul.nav.nav-pills.pull-right
      li(role='presentation')
        a(href='/') Home
      li(role='presentation')
        a(href='/page1') Page 1
      li(role='presentation')
        a(href='/page2') Page 2
      li(role='presentation')
        a(href='/page3') Page 3
      li(role='presentation')
        a(href='/page4') Page 4
  h3.text-muted Site Name
