extends ../layouts/default.pug
block page-message
block page-header
  if title
    title=title
    h2 #{title}

block content
  h4 Content Block
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi leo arcu, placerat et mattis non, condimentum eget mauris. Vestibulum vitae posuere tortor. Curabitur auctor diam eu turpis condimentum, ut maximus tellus mollis. Ut lobortis felis et sapien rhoncus, nec luctus mauris rutrum. Donec tempus iaculis libero, venenatis tincidunt sapien posuere eu. Nulla dignissim viverra erat, sed fermentum augue fringilla sed. Nulla neque massa, auctor a congue vel, consequat congue justo. Duis eget metus massa. Vestibulum ornare accumsan tortor a ultrices. Pellentesque laoreet malesuada quam sit amet elementum. Praesent lobortis est enim, quis vulputate mi placerat vehicula.